.client {
    padding: 140px 0;
    background-image: url("../images/bgi9.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: calc(50% - 660px) top;
    background-color: $manage-bgc;
}
.client__title {
    margin-top: 0;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $main-text-color;
}
.client__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.client__item + .client__item {
    margin-left: 80px;
}
.client__img {
    display: block;
}
@media only screen and (max-width:1440px)  {
    .client {
        background-position: left top;
    }
}
@media only screen and (max-width:840px) {
    .client__title {
        font-size: 40px;
        line-height: 40px;
    }
}
@media only screen and (max-width:768px) {
    .client {
        padding: 100px 0;
        background-image: url("../images/bgi9-m.svg");
        background-repeat: no-repeat;
        background-size: 200px 100px;
        background-position: left top;
    }
    .client__title {
        font-size: 32px;
        line-height: 32px;
    }
    .client__list {
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
    }
    .client__item + .client__item {
        margin-left: 45px;
    }
    .client__img {
        display: block;
    }
}
@media only screen and (max-width:576px) {
    .client {
        padding: 88px 0;
        background-image: url("../images/bgi9-mm.svg");
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: left top;
    }
    .client__list {
        flex-direction: column;
        align-items: center;
    }
    .client__item + .client__item {
        margin-left: 0;
        margin-top: 55px;
    }
}