.intro {
    position: relative;
    max-height: 100%;
    padding-bottom: 255px;
    background-color: $header-intro-bgc;
    background-image: url("../images/bgi1.svg"), url("../images/bgi2.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px, 358px 100px;
    background-position: calc(50% - 760px) top, calc(50% + 370px) bottom;
}
.intro-inner {
    display: flex;
    justify-content: space-between;
}
.intro-left {
    width: 100%;
    margin-right: 20px;
    max-width: 635px;
}
.intro-title {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    color: $main-text-color;
}
.red-text {
    color: $second-text-color;
}
.intro-right {
    width: 100%;
    max-width: 445px;
}
.line {
    display: inline-block;
    width: 50px;
    height: 4px;
    margin-bottom: 79px;
    background-color: #79C8C7;
}
.intro-text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $main-text-color;
}
@media only screen and (max-width:1100px) {
    .intro {
        background-image: url("../images/bgi2.svg");
        background-repeat: no-repeat;
        background-size:358px 100px;
        background-position: center bottom;
    }
    .intro-_title {
        font-size: 90px;
    }
}
@media only screen and (max-width:978px) {
    .intro-left {
        max-width: 400px;
    }
    .intro-title {
        font-size: 75px;
    }
    .intro-right {
        max-width: 375px;
    }
    .line {
        margin-bottom: 39px;
    }
    .intro-text {
        font-size: 15px;
    }
}
@media only screen and (max-width:830px) {
    .intro-left {
        max-width: 350px;
    }
    .intro-title {
        font-size: 65px;
    }
    .intro-right {
        max-width: 375px;
    }
    .line {
        margin-bottom: 19px;
    }
    .intro-text {
        font-size: 15px;
    }
}
@media only screen and (max-width:768px) {
    .intro-inner {
        flex-direction: column;
    }
    .intro-left {
        max-width: 100%;
        margin-bottom: 24px;
        text-align: center;
    }
    .intro-title {
        font-size: 64px;
        line-height: 56px;
    }
    .intro-right {
        max-width: 457px;
        margin: 0 auto;
        text-align: center;
    }
    .intro-line {
        display: none;
    }
    .intro-text {
        font-size: 15px;
        line-height: 28px;
    }
}
@media only screen and (max-width:576px) {
    .intro {
        padding-bottom: 197px;
    }
    .intro-left {
        margin-bottom: 18px;
    }
    .intro-title {
        font-size: 40px;
        line-height: 40px;
    }
}